<main>
  <section class="well-2 well-2__off">
    <div class="container">
      <div class="row">
        <ul class="icon-list">
          <li class="col-md-4 col-sm-6 fa fa-cogs wow fadeInLeft animated" data-wow-delay="0.6s" style="visibility: visible; animation-delay: 0.6s; animation-name: fadeInLeft;">
            <h6>
              <a href="#">Where<br> we serve</a>
            </h6>
            <p>Our Company serves globally and internationally</p>
          </li>
          <li class="col-md-4 col-sm-6 fa fa-bar-chart wow fadeInLeft animated" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInLeft;">
            <h6>
              <a href="#">Contextual advertising PRO</a>
            </h6>
            <p>Contextual advertising is famous for the fact that it can help quickly bring customers to
              the site.</p>
          </li>
          <li class="col-md-4 col-sm-6 fa  fa-folder wow fadeInLeft animated" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInLeft;">
            <h6>
              <a href="#">Offshore and other jurisdictions</a>
            </h6>
            <p>This section provides information on the jurisdictions that are used in international tax
              planning</p>
          </li>
          <li class="col-md-4 col-sm-6 fa  fa-comments-o wow fadeInRight animated" data-wow-delay="0.8s" style="visibility: visible; animation-delay: 0.8s; animation-name: fadeInRight;">
            <h6>
              <a href="#">Premier<br>Support</a>
            </h6>
            <p>Our Company provides essential support including 24/7 for your success</p>
          </li>
          <li class="col-md-4 col-sm-6 fa fa-calendar wow fadeInRight animated" data-wow-delay="1.0s" style="visibility: visible; animation-delay: 1.0s; animation-name: fadeInRight;">
            <h6>
              <a href="#">Creating a site for the company</a>
            </h6>
            <p>In connection with the departure of consumers to the Internet, having own
              representation </p>
          </li>
          <li class="col-md-4 col-sm-6 fa fa-calendar wow fadeInRight animated" data-wow-delay="1.0s" style="visibility: visible; animation-delay: 1.0s; animation-name: fadeInRight;">
            <h6>
              <a href="#">Creating a site for the individuals</a>
            </h6>
            <p>In connection with the departure of consumers to the Internet, having own
              representation </p>
          </li>
          <!--<li class="col-md-4 col-sm-6 fa fa-leaf wow fadeInRight animated" data-wow-delay="1.2s" style="visibility: visible; animation-delay: 1.2s; animation-name: fadeInRight;">-->
            <!--<h6>-->
              <!--<a href="#">our Online<br>services</a>-->
            <!--</h6>-->
            <!--<p>We provide clients with online business plan, website review and marketing-->
              <!--optimization</p>-->
          <!--</li>-->
        </ul>
      </div>
    </div>
  </section>
  <!--<section class="divider well-2 well-2__off-1">-->
    <!--<div class="container">-->
      <!--<h4>Services overview</h4>-->

      <!--<div class="row row__off">-->
        <!--<div class="col-md-4 center-media-lg wow fadeInRight" data-wow-delay="0.2s" style="visibility: hidden; animation-delay: 0.2s; animation-name: none;">-->
          <!--<img src="images/page-3_img01.jpg" alt="">-->

          <!--<h5>Business planning</h5>-->

          <!--<p>This section covers a broad range of information to help you in starting, running and growing-->
            <!--your business. This living document generally projects 3-5 years ahead and outlines the route-->
            <!--a company </p>-->
          <!--<a href="#" data-title="Read More" class="btn-default"><span>Read More</span></a>-->
        <!--</div>-->
        <!--<div class="col-md-4 wow center-media-lg fadeInRight" data-wow-delay="0.4s" style="visibility: hidden; animation-delay: 0.4s; animation-name: none;">-->
          <!--<img src="images/page-3_img02.jpg" alt="">-->

          <!--<h5>Marketing services</h5>-->

          <!--<p>Extend your marketing resources without the expensive overhead. With our company you use only-->
            <!--the marketing services and expertise you need, when you need them most. </p>-->
          <!--<a href="#" data-title="Read More" class="btn-default"><span>Read More</span></a>-->
        <!--</div>-->
        <!--<div class="col-md-4 center-media-lg wow fadeInRight" data-wow-delay="0.6s" style="visibility: hidden; animation-delay: 0.6s; animation-name: none;">-->
          <!--<img src="images/page-3_img03.jpg" alt="">-->

          <!--<h5>Personal marketing</h5>-->

          <!--<p>Personal marketing uses commercial and social marketing principles to help you succeed at-->
            <!--goals you have chosen for yourselves. Your personal marketing plan will keep you-->
            <!--motivated.</p>-->
          <!--<a href="#" data-title="Read More" class="btn-default"><span>Read More</span></a>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</section>-->
  <!--<section class="parallax well-3" data-url="images/parallax4.jpg" data-mobile="true" data-speed="1"><div class="parallax_image" style="height: 500px; background-image: url(http://livedemo00.template-help.com/wt_57618/images/parallax4.jpg); background-color: inherit;"></div><div class="parallax_cnt">-->
    <!--<div class="container wow fadeInUp" style="visibility: hidden; animation-name: none;">-->
      <!--<h3>Extensive sales and marketing experience</h3>-->
      <!--<h5 class="indent"><span>We offer a wide variety of business to business marketing services with the experience to get great results. </span>-->
      <!--</h5>-->
      <!--<a href="#" class="btn-primary btn-primary__md">download pdf</a>-->
    <!--</div>-->
  <!--</div></section>-->
  <!--<section class="well-1 well-1__off">-->
    <!--<div class="container">-->
      <!--<h4>Marketing services</h4>-->

      <!--<div class="row row__off wow fadeIn" style="visibility: hidden; animation-name: none;">-->
        <!--<div class="col-sm-6">-->
          <!--<h5 class="indent-2">-->
            <!--<a href="#">Creating a web site-->
              <!--for the business company-->
            <!--</a>-->
          <!--</h5>-->
          <!--<p>Our company can also help you to create your own web site for your business. In connection-->
            <!--with the departure of consumers to the Internet, having own representation in the network has-->
            <!--become a mandatory item in the list «must have» for business representatives. </p>-->

          <!--<p>Once you have accessed this page, you probably thought about expanding your busiiness outside-->
            <!--offline. And it's the right decision!</p>-->
        <!--</div>-->
        <!--<div class="col-sm-6">-->
          <!--<h5 class="indent-2">-->
            <!--<a href="#">Internet marketing strategy-->
              <!--for your company-->
            <!--</a>-->
          <!--</h5>-->
          <!--<p>Today there are many online channels, you can use to attract thousands of visitors to the-->
            <!--site, increase the conversion of web design, and regularly develop business on the-->
            <!--Internet. </p>-->

          <!--<p>But in order to use online marketing tools as efficiently as possible, and do not spend-->
            <!--wasted budget, you need to create a strategy for internet marketing.</p>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</section>-->
  <!--<section class="bg-secondary well-2 well-2__off">-->
    <!--<div class="container">-->
      <!--<div class="row">-->
        <!--<div class="col-md-4 col-sm-12 wow fadeInLeft" data-wow-delay="0.2s" style="visibility: hidden; animation-delay: 0.2s; animation-name: none;">-->
          <!--<h4 class="light">-->
            <!--Corporate-->
          <!--</h4>-->
          <!--<h6><span>For as long as anyone can remember, businesses have always invested money </span>-->
          <!--</h6>-->

          <!--<p> In the beginning, this was more of an aesthetic consideration than anything else. Businesses-->
            <!--began to view art not only as décor, but also something of a status symbol and began to-->
            <!--actively build corporate art collections. In many cases, corporate art collections are used-->
            <!--as a way to enhance </p>-->
          <!--<a href="#" data-title="Read More" class="btn-default"><span>Read More</span></a>-->
        <!--</div>-->
        <!--<div class="col-md-4 col-sm-12 wow fadeInLeft" data-wow-delay="0.4s" style="visibility: hidden; animation-delay: 0.4s; animation-name: none;">-->
          <!--<h4 class="light">-->
            <!--Technology-->
          <!--</h4>-->
          <!--<h6><span>This is a genre that encompasses artworks created with new media technologies</span>-->
          <!--</h6>-->

          <!--<p>This is a genre that encompasses including digital art, computer graphics, computer-->
            <!--animation, virtual art, Internet art, interactive art, video games, computer robotics, 3D-->
            <!--printing, and art as biotechnology. The term differentiates itself by its resulting cultural-->
            <!--objects and social events</p>-->
          <!--<a href="#" data-title="Read More" class="btn-default"><span>Read More</span></a>-->
        <!--</div>-->
        <!--<div class="col-md-4 col-sm-12 wow fadeInLeft" data-wow-delay="0.6s" style="visibility: hidden; animation-delay: 0.6s; animation-name: none;">-->
          <!--<h4 class="light">Events</h4>-->
          <!--<h6><span>Discover our events art collection, which focuses on a selection of works</span>-->
          <!--</h6>-->

          <!--<p>Imagine that you walk up the steps to a carpeted runway and, on either side, you'll find-->
            <!--artists’ latest topsy-turvy immersion. The artworks are marvels. These works aren’t abstract.-->
            <!--They are ardent, knowledgeable depictions of specific sites in the bush, irrefutable evidence-->
            <!--that modernity </p>-->
          <!--<a href="#" data-title="Read More" class="btn-default"><span>Read More</span></a>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</section>-->
  <!--<section class="parallax well-3" data-url="images/parallax5.jpg" data-mobile="true" data-speed="1"><div class="parallax_image" style="height: 500px; background-image: url(http://livedemo00.template-help.com/wt_57618/images/parallax5.jpg); background-color: inherit;"></div><div class="parallax_cnt">-->
    <!--<div class="container wow fadeInUp" style="visibility: hidden; animation-name: none;">-->
      <!--<h3>The next level of your success</h3>-->
      <!--<h5 class="indent"><span>Helping to move your business in the right<br> direction</span>-->
      <!--</h5>-->
      <!--<a href="#" class="btn-primary btn-primary__md-1">read more</a>-->
    <!--</div>-->
  <!--</div></section>-->
  <!--<section class="well-2__off well-2__off-1">-->
    <!--<div class="container">-->
      <!--<h4>Services list</h4>-->

      <!--<div class="row row__off">-->
        <!--<div class="col-md-3 col-sm-6 col-xs-6">-->
          <!--<ul class="marked-list-1 wow fadeInLeft" data-wow-delay="0.4s" style="visibility: hidden; animation-delay: 0.4s; animation-name: none;">-->
            <!--<li>-->
              <!--<a href="#">Risk assessment</a>-->
            <!--</li>-->
            <!--<li>-->
              <!--<a href="#">Business Planning &amp; Coaching</a>-->
            <!--</li>-->
            <!--<li>-->
              <!--<a href="#">Marketing Services</a>-->
            <!--</li>-->
            <!--<li>-->
              <!--<a href="#">Online Services</a>-->
            <!--</li>-->
            <!--<li>-->
              <!--<a href="#">Business Plan</a>-->
            <!--</li>-->
            <!--<li>-->
              <!--<a href="#">Expert Business Plans</a>-->
            <!--</li>-->
            <!--<li>-->
              <!--<a href="#">International Expansion Advice</a>-->
            <!--</li>-->
          <!--</ul>-->
        <!--</div>-->
        <!--<div class="col-md-3 col-sm-6 col-xs-6 wow fadeInLeft" data-wow-delay="0.2s" style="visibility: hidden; animation-delay: 0.2s; animation-name: none;">-->
          <!--<ul class="marked-list-1">-->
            <!--<li>-->
              <!--<a href="#">Franchise Assessment</a>-->
            <!--</li>-->
            <!--<li>-->
              <!--<a href="#">Opportunities for Growth Assessment</a>-->
            <!--</li>-->
            <!--<li>-->
              <!--<a href="#">Marketing Plan 1yr</a>-->
            <!--</li>-->
            <!--<li>-->
              <!--<a href="#">Market Research - Domestic &amp; </a>-->
            <!--</li>-->
            <!--<li>-->
              <!--<a href="#">International</a>-->
            <!--</li>-->
            <!--<li>-->
              <!--<a href="#">Sales Analysis &amp; Pricing Analysis</a>-->
            <!--</li>-->
            <!--<li>-->
              <!--<a href="#">Advertising</a>-->
            <!--</li>-->
          <!--</ul>-->
        <!--</div>-->
        <!--<div class="col-md-3 col-sm-6 col-xs-6 wow fadeInRight" data-wow-delay="0.2s" style="visibility: hidden; animation-delay: 0.2s; animation-name: none;">-->
          <!--<ul class="marked-list-1">-->
            <!--<li>-->
              <!--<a href="#">Lead Generation</a>-->
            <!--</li>-->
            <!--<li>-->
              <!--<a href="#">Online Marketing Advice</a>-->
            <!--</li>-->
            <!--<li>-->
              <!--<a href="#">Competition Analysis</a>-->
            <!--</li>-->
            <!--<li>-->
              <!--<a href="#">Product Analysis including Price Analysis</a>-->
            <!--</li>-->
            <!--<li>-->
              <!--<a href="#">Direct Mail &amp; Mass Marketing</a>-->
            <!--</li>-->
            <!--<li>-->
              <!--<a href="#">Website Design</a>-->
            <!--</li>-->
            <!--<li>-->
              <!--<a href="#">Online Store</a>-->
            <!--</li>-->
          <!--</ul>-->
        <!--</div>-->
        <!--<div class="col-md-3 col-sm-6 col-xs-6 wow fadeInRight" data-wow-delay="0.4s" style="visibility: hidden; animation-delay: 0.4s; animation-name: none;">-->
          <!--<ul class="marked-list-1">-->
            <!--<li>-->
              <!--<a href="#">Online Marketing</a>-->
            <!--</li>-->
            <!--<li>-->
              <!--<a href="#">Search Engine Optimization</a>-->
            <!--</li>-->
