
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<h1>Twinsoft</h1>
<hr class="line-separator">
<h2>Creative development</h2>
<md-button class="md-raised"  ng-click="twitter()"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></md-button>
<md-button class="md-raised"  ng-click="linkedin()"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name">Linkedin</span></md-button>