<md-dialog aria-label="Mango (Fruit)"  ng-cloak>
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Add new User</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content style="width: 700px; max-width:800px;max-height:810px; ">
      <div class="md-dialog-content">
        <div ng-controller="UserController" layout="column" ng-cloak class="md-inline-form">
          <md-content layout-padding layout="row" layout-sm="column">
            <md-input-container>
              <label>Title</label>
              <input ng-model="user.title">
            </md-input-container>
            <md-input-container>
              <label>Email</label>
              <input ng-model="user.email" type="email">
            </md-input-container>
          </md-content>
          <md-content layout-padding>
            <form name="userForm">
              <div layout layout-sm="column">
                <md-input-container flex>
                  <label>Company (Disabled)</label>
                  <input ng-model="user.company" disabled>
                </md-input-container>
                <md-datepicker ng-model="user.submissionDate" md-placeholder="Enter date"></md-datepicker>
              </div>
              <div layout layout-sm="column">
                <md-input-container flex>
                  <label>First name</label>
                  <input ng-model="user.firstName">
                </md-input-container>
                <md-input-container flex>
                  <label>Last Name</label>
                  <input ng-model="theMax">
                </md-input-container>
              </div>
              <md-input-container class="md-block">
                <label>Address</label>
                <input ng-model="user.address">
              </md-input-container>
              <div layout layout-sm="column">
                <md-input-container flex>
                  <label>City</label>
                  <input ng-model="user.city">
                </md-input-container>
                <md-input-container flex>
                  <label>State</label>
                  <md-select ng-model="user.state">
                    <md-option ng-repeat="state in states" value="{{state.abbrev}}">
                      {{state.abbrev}}
                    </md-option>
                  </md-select>
                </md-input-container>

              </div>
              <md-input-container class="md-block">
                <label>Biography</label>
                <textarea ng-model="user.biography" columns="1" md-maxlength="150" rows="5"></textarea>
              </md-input-container>
            </form>
          </md-content>
        </div>
      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">

      <span flex></span>
      <md-button ng-click="answer('not useful')">
       Cancel
      </md-button>
      <md-button ng-click="answer('useful')" style="margin-right:20px;">
        Add user
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>


