<head>
  <link href="app/styles/theme-blue-2.css" rel="stylesheet">
</head>
      <div class="section section-sm section-both">
        <div class="container">
          <div class="row">
            <!-- SERVICE -->
            <div class="col-sm-3 wow fadeInLeft animated" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInLeft;">
              <div class="icon-box">
                <i class="fa fa-cogs fa-round fa-4x text-theme"></i>
                <h6>
                  <a href="#">Where We <br> Serve</a>
                </h6>
                <h6>Our Company serves globally and internationally</h6>
              </div>
            </div>
            <!-- SERVICE -->
            <div class="col-sm-3 wow fadeInLeft animated" data-wow-delay="0.6s" style="visibility: visible; animation-delay: 1.6s; animation-name: fadeInLeft;">
              <div class="icon-box">
              <i class="fa fa-leaf fa-round fa-4x text-theme"></i>
              <h6>
                <a href="#">Start Up <br> Projects</a>
              </h6>
              <h6>Ready to go with start up projects</h6>
            </div>
          </div>
            <!-- SERVICE -->
            <div class="col-sm-3 wow fadeInLeft animated" data-wow-delay="1.0s" style="visibility: visible; animation-delay: 3.0s; animation-name: fadeInLeft;">
              <div class="icon-box">
                <i class="fa fa-cogs fa-round fa-4x text-theme"></i>
                <h6>
                  <a href="#">Open Source<br>Projects</a>
                </h6>
                <h6>Involved in open source projects</h6>
              </div>
            </div>
            <!-- SERVICE -->
            <div class="col-sm-3 wow fadeInRight animated" data-wow-delay="1.4s" style="visibility: visible; animation-delay: 4.4s; animation-name: fadeInRight;">
              <div class="icon-box">
                <i class="fa fa-sitemap fa-round fa-4x text-theme"></i>
                <h6>
                  <a href="#">Web <br> applications</a>
                </h6>
                <h6>Creating powerful web applications capable of heavy lifting</h6>
              </div>
            </div>
        <!-- SERVICE -->
        <div class="col-sm-3 fadeInRight animated" data-wow-delay="2.0s" style="visibility: visible; animation-delay: 6.0s; animation-name: fadeInRight">
          <div class="icon-box">
            <i class="fa fa-magic  fa-round fa-4x text-theme"></i>
            <h6>
              <a href="#">Creating a site for the <br> companies and individuals</a>
            </h6>
            <h6>In connection with the departure of consumers to the Internet, having own
              representation </h6>
          </div>
        </div>
          </div>
        </div>
      </div>
