<!-- Page Content -->
<!--<div class="container">-->

  <!-- Introduction Row -->
  <div class="row voffset4">
    <div class="col-lg-12">
        <h2 class="well  well-sm">About Us
          <small class="text-primary">It's Nice to Meet You!</small>
        </h2>
      <!--<h2>About Us-->
        <!--<small class="text-faded">It's Nice to Meet You!</small>-->
      <!--</h2>-->
      <!--<hr class="line-separator">-->
      <p class="text-faded">Twinsoft is young  IT company with inovative and open mind way of thinking. It is founded by Miodrag Pavković in March 2013 as a freelancing agency while he was working as a contractor in one of the leading IT companies in Serbia.
        In November Twinsoft became independent agency, continuing work for nearshore clients.
        Nowdays core of company are twin brothers and from whom company name originates.
        Additional support is comming from the the team of individual developers in their expertises. </p>

    </div>
  </div>
  <div class="row" id="goal">
    <div class="col-lg-12">
    <h2 class="well  well-sm">Goal</h2>
      <p class="text-faded">Twinsoft goal is to make valuable ideas live.
        Our ideas will see the light in open source projects, and via internal and educational projects.
        Your ideas will be our motiviation for common success.  </p>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <h2 class="well well-sm">How we do it</h2>
      <p class="text-faded">We are not working in conventional way with boundries that are artificially imposed by many common development processes.
        Most important is personal satisfaction and satisfaction in what every team member do.
        That way we are all enjoying in work which makes us most productive and open for creativity. </p>
    </div>
  </div>
 <!--<div class="row">-->
    <!--<div class="col-lg-12">-->
      <!--<h2 class="page-header">Projects</h2>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->
