<!-- Page Content -->
<div class="container">

  <!-- Introduction Row -->
  <div class="row voffset4">
    <div class="col-lg-12">
      <h1 class="page-header">About Us
        <small>It's Nice to Meet You!</small>
      </h1>
      <p>Twinsoft is young and modern IT company that departs from standard IT companies and adopt inovative and open mind ways of thinking. Core of company are twin brothers Miodrag and Miroslav Pavković. Additional support is comming from team of individual experts in thier branch. </p>
    </div>
  </div>
  <!-- Team Members Row -->
  <div class="row">
    <div class="col-lg-12">
      <h2 class="page-header">Projects</h2>
    </div>
  </div>
</div>
